*{
	margin:0;
	padding:0;
	font-family:'Inter', sans-serif;
}
body{
	background-color:#c8cfb4;
}
.satir{
	border:2px solid black;
	height:100px;
	overflow:hidden;
	background: white;
	
}
.yazilar{
	position: relative;
	
}
.satir span{
	font-size:30px;
	margin-right:7px;
}
.giris{
	
	border:2px solid blue;
	font-size:30px;
	border-style: none;
}
.arkaplan{
	background-color:#1aa1e1;
	color:white;
}
.dogru{
	color:#008000;
}
.yanlis{
	color:red;
}
.kelime{
	float:left;

}

.yanlis_anlik{
	background-color: #F00;
}
.giris_alani{
	align-items: center;
	
}
.saniye{
	font-size:30px;
}
#sonuc_dks{
	font-size:40px;
	color:#527a1e;
	text-align:center;
}
.buton{
	height: 60px;
	border-radius: 50%;
}