*{
	margin:0;
	padding:0;
	font-family:'Bitter', sans-serif;
}
body{
	background-color:#bdddff;
}
.satir{
	border:2px solid black;
	height:107px;
	overflow:hidden;
	background: white;
	padding-top:6px;
	
}
#sonuc_alani{
	display:none;
}
.yazilar{
	position: relative;
	
	
}
.satir span{
	font-size:30px;
	margin-right:13px;
}
#giris_btn,#cikis_btn{
		height: 48px;
}
.giris{
	
	border:2px solid blue;
	font-size:30px;
	border-style: none;
}
.arkaplan{
	background-color:#dddddd;
	color:black;
}
.dogru{
	color:#008000;
}
.yanlis{
	color:red;
}
.kelime{
	float:left;

}

.yanlis_anlik{
	background-color: #F00;
}
.giris_alani{
	align-items: center;
	
}
.saniye{
	font-size:30px;
}
#sonuc_dks{
	font-size:40px;
	color:#527a1e;
	text-align:center;
}
.buton{
	height: 60px;
	border-radius: 50%;
}
.unselectable {
	-moz-user-select: -moz-none;
	-khtml-user-select: none;
	-webkit-user-select: none;
	-o-user-select: none;
	-ms-user-select: none;
	user-select: none
}